<form method=post action="https://sandbox.paypal.com/cgi-bin/webscr">
  <input type="hidden" name="cmd" value="_notify-synch">
  <input type="hidden" name="tx" value="19A090532U3171533">
  <input type="hidden" name="at" value="A21AAE5Ux3dngdPoPgkc624BQyD6BfdmP3uIztXrIUsd9QRQmuGciYImcSmgy9P1GU9gy9d7z6i4YUTEYDLHEVwQA_PC0gVuA">
  <input type="submit" value="PDT">
</form>